header section {
    justify-content: space-between;
    align-items: center;
}

header  section nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

header  section nav ul li a{
    margin: 0 15px;
    color: #3399cc;
}