.sobre-web-desingn{
    justify-content: space-between;
    align-items: center;
}
.sobre-web-desingn article{
    width: 250px;
}

.sobre-web-desingn article h1{
    font-size: 70px;
    line-height: 90%;
    font-weight: 600;
    color: #333366;
}

.sobre-web-desingn article h2{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 200%;
    color: #3399cc;
}

.sobre-web-desingn article p{
    color: #3399cc;
    margin-top: 10px 0 40px;
    margin-bottom: 30px;
    width: 400px;
}

.sobre-web-desingn figcaption img{
    width: 600px;
    margin-left: 200px;
}
